<a href="https://colab.research.google.com/github/Ygrick/Data-Science/blob/main/technoWorld.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv("/content/2222.csv",sep = ';',header=None,encoding= 'cp1251')
df

                                      0      1   2  ...   5         6   7
0  Болт и гайка креплоения башмака SD23    NaN NaN  ... NaN  1 040,00 NaN
1                             ООО "ЮМС"    NaN NaN  ... NaN  1 040,00 NaN
2                               90.01.1  62.01 NaN  ... NaN  1 040,00 NaN
3                          ЮНИПАРТС ООО    NaN NaN  ... NaN       NaN NaN
4                                 41.01  60.01 NaN  ... NaN       NaN NaN
5       Болт катка опорного M20X2.5X100    NaN NaN  ... NaN  5 180,00 NaN
6                           КОМПАРТ ООО    NaN NaN  ... NaN       NaN NaN
7                                 41.01  60.01 NaN  ... NaN       NaN NaN
8                НЕРУДНЫЕ МАТЕРИАЛЫ ООО    NaN NaN  ... NaN  5 180,00 NaN
9                               90.01.1  62.01 NaN  ... NaN  5 180,00 NaN

[10 rows x 8 columns]

In [ ]:
# Создадим результирующую таблицу 
result = df.drop([1, 2, 7], axis=1) # убираем ненужные столбцы (1, 2, 7)
result = result[result.index%5==0].reset_index(drop=True) # оставляем строки 0 и 5
result.columns = ['Номенклатура', 'Компания1', 'Цена1', 'Компания2', 'Цена2'] # меняем названия колонок
result # убедимся что всё правильно

                           Номенклатура Компания1  ... Компания2     Цена2
0  Болт и гайка креплоения башмака SD23        БУ  ...       NaN  1 040,00
1       Болт катка опорного M20X2.5X100        БУ  ...       NaN  5 180,00

[2 rows x 5 columns]

In [ ]:
# Данный цикл сделан для случаев, если данных было бы не на 10 строчек, а на сколько угодно. Можно было, конечно, обойтись и без него

# Возьмём имена компаний, чтоб заполнить пропуски в итоговой таблице
for i in range (2):
  pre_df = df[5*i: 5*(i+1)].reset_index(drop=True) # разделим датасет по 5 строк (т.к. 5 строк на каждую позицию номенклатуры)
  pre_df = pre_df[pre_df.index % 2 == 1] # оставим строки с именами компаний
  result.iloc[i, 1], result.iloc[i, 3] = list(pre_df[0]) # взяли имена компаний и поместили в наш итоговый датасет

In [ ]:
result # результат

                           Номенклатура  ...     Цена2
0  Болт и гайка креплоения башмака SD23  ...  1 040,00
1       Болт катка опорного M20X2.5X100  ...  5 180,00

[2 rows x 5 columns]